html, body {
  background-color: #c5d62d;
  height: 100%;
}

/* .navbar, 
.navbar-expand-sm, 
.navbar-light,
.bg-light {
    color: #F2EBEC!important;
    background-color: #F2EBEC!important;
} */


nav a {
  color: #2387d8!important;
}

nav a:hover {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  color: #2387d8!important;
}

header {
  margin-bottom: 100px;;
}

#intro {
  width: 100%;
  margin: auto;
  padding-top: 8%;
  color: #56738C;
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
}

@keyframes bouncing {
  0% {bottom: 0;}
  50% {bottom: 20px;}
  100% {bottom: 0;}
}

#intro img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
}

#introLines {
  margin: auto;
}

#kl {
  color: #41586b;
  font-weight: 1000;
}

.arrow {
  font-size: x-large;
  text-align: center;
  animation: bouncing 1s infinite ease-in-out;
  position: absolute;
  bottom: 0;
  display: block;
  left: 50%;
}

h1 {
  font-size: 70px;
  color: #afbdc9;
  font-family: 'Roboto', sans-serif;
}

#about {
  background-color: #56738C;
  color: #F2EBEC;
  display: flex;
  padding: 100px 30px;
  padding-bottom: 200px;
  max-width: 100%;
  text-align: center;
}

#about h1 {
  margin-bottom: 20px;
}

.skills {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills h3 {
  font-family: 'Raleway', sans-serif;
  color: #56738C;
  padding-bottom: 20px;
}

.skills i {
  padding-top: 10px;
  padding-bottom: 25px;
  color: #56738C;
}

#skillsIcon {
  padding-top: 20px;
  font-size: 45px;
}

.skillsCard {
  width: 80%;
  min-height: 400px;
  padding: 30px;
  margin: 10px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 30px -5px hsl(0deg 0% 21% / 45%);
}

.skills .skillsCard {
  transform: translateY(-100px);
  background-color: #F2EBEC;
}


small {
  padding-top: 5px!important;
}

small {
  font-style: italic;
}



#portfolio {
  min-width: 100%;
  padding-right: 60px!important;
  padding-left: 60px!important;
}

#portfolio {
  background: #F2EBEC;
  margin-bottom: 50px;
}

#portfolio h1 {
  color: #56738C;
}

#portfolioHeader{
  text-align: center;
  justify-content: center;
}

#portfolio h3 {
  font-size: 29px;
  font-family: 'Volkhov', serif;
  color: #56738C;
  padding-left: 17px!important;
}

#portfolio h4 {
  color: #56738C;
  margin-bottom: 50px;
}

#portfolio a:hover {
  color: #F2D0A7;
  text-transform: uppercase;
  background-color: #2182BF;
}

.gitLinks {
  bottom: 0;
}

.btn {
  background-color: #F2D0A7;
  border: #F2D0A7;
  color: #2182BF;
}

#gitHub a:hover {
  background-color: #F2EBEC;
  color: #56738C;
}

#portfolio .card {
  background-color: #F2EBEC;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 30px -5px hsl(0deg 0% 21% / 45%);
}

.card-title,
.card-text {
    padding-left: 1.25rem;
}

#words {
  text-decoration: underline;
}

#thankYou {
  background-color: #56738C;
  display: flex;
  padding: 80px 30px;
  padding-bottom: 160px;
  justify-content: center;
}

#contact {
  text-align: center;
  background:#23303a;
  margin: auto;
  font-size: 20px;
  color: #F2EBEC;
  transform: translateY(-100px);
  width: 85%;
  padding: 30px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 30px -5px hsl(0deg 0% 21% / 45%);
  min-height: 200px;
}

#contact i {
  font-size: 35px;
  padding: 30px;
}

#contact a {
  color:#F2EBEC;
  text-decoration: gray;
}

#contact a:hover {
  color: #56738C;
}

@media (min-width: 320px) and (max-width: 650px) {
  header {
      margin-bottom: 50px;
  }
  #intro {
      margin-top: 20px;
  }
  #introLines {
      margin-top: 70px;
      text-align: center;
  }
  h1 {
      font-size: 60px;
  }

  #portfolio {
      padding-right: 15px!important;
      padding-left: 15px!important;
  }
}

