footer {
  text-align: center;
  background:#23303a;
  margin: auto;
  font-size: 20px;
  color: #F2EBEC;
  transform: translateY(-100px);
  width: 85%;
  padding: 30px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 30px -5px hsl(0deg 0% 21% / 45%);
  min-height: 200px;
}

#contact i {
  font-size: 35px;
  padding: 30px;
}

#contact a {
  color:#F2EBEC;
  text-decoration: gray;
}

#contact a:hover {
  color: #56738C;
}
